* {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  color: blueviolet;
  padding: 0;
  margin: 0;
}
body {
  background-color: antiquewhite;
}
.desc {
  padding: 60px 0px;
}
.desc h1 {
  padding: 20px;
}

.media_area h2 {
  padding: 10px 0px;
}

p {
  font-size: 20px;
  color: brown;
  font-weight: bold;
}
.fab {
  font-size: 40px;
  padding: 20px 0px;
}
.fa-facebook-square {
  color: rgb(81, 81, 255);
}

.fa-twitter {
  color: skyblue;
}

.fa-instagram {
  color: rgb(223, 78, 223);
}

.fa-linkedin {
  color: rgb(96, 164, 190);
}
